@import "../../styles/config";

#calculator {

    padding: $spacing-3;

    width: min-content;
    max-width: 100%;

    $bgColor: #E2D0C0;
    background-color: $bgColor;

    border-radius: 6px;

    @include edge($spacing-2, shade($bgColor, $edge-color-shade));

    #calculator-display {
        font-family: 'Oxanium', monospace;
        font-size: $fontSize-8;
        width: 100%;

        margin-bottom: $spacing-3;
    }

    #calculator-buttons-container {
        display: flex;

        .buttons-container {
            &:not(:last-child) {
                margin-right: $spacing-2;
            }

            .row {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }
    }


}