@import "../../styles/config";

.button-wrapper {

    $gap: $spacing-2;

    &:not(:last-child) {
        margin-right: $gap;
    }

    margin-bottom:$gap;

    display: flex;

    $size:50px;
    width: $size;
    height:$size;

    &.spans-2 {
        width: $size*2 + $gap;
    }

    &.spans-3 {
        width: $size*3 + $gap*2;
    }

    button {
        width: 100%;
        height: 100%;

        border-radius: 4px;
        border: none;

        padding: 0;
        outline: none !important;

        font-size: $fontSize-5;

        transition: all 100ms linear;

        $bgColor: #eee;
        background-color: $bgColor;
        $edge-color: shade($bgColor, $edge-color-shade);
        $edge-thickness: $spacing-1;

        @include edge($edge-thickness, $edge-color);

        &:active {
            $depress: 2px;
            transform: translateY($depress) translateX($depress);
            @include edge($edge-thickness - $depress, $edge-color);
        }
    }
}