$fontSize-1: 12px;
$fontSize-2: 14px;
$fontSize-3: 16px;
$fontSize-4: 18px;
$fontSize-5: 20px;
$fontSize-6: 24px;
$fontSize-7: 30px;
$fontSize-8: 36px;
$fontSize-9: 48px;
$fontSize-10: 60px;
$fontSize-11: 72px;
//? See page 105 of 'Refactoring UI'